
@model IEnumerable<ShopAcc.Models.EF.Product>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            @if (Model != null && Model.Any())
            {

                foreach (var item in Model)
                {
                    var strImage = "";
                    var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                    if (img != null)
                    {
                        strImage = img.Image;
                    }
                    @*<div class="row active-product">
                            <div class="col-lg-3 col-sm-6 @item.ProductCategory.Alias">
                                <div class="product_box">
                                    <h4 class="bursh_text">@item.Title</h4>
                                    <p class="lorem_text">@item.Description</p>
                                    <img src="@strImage" alt="@item.Title" class="image_1">
                                    <div class="btn_main">
                                        <div class="buy_bt">
                                            <ul>
                                                <li class="active"><a href="/chi-tiet/@(item.Id)">Chi tiết</a></li>
                                                <li><a style="cursor:pointer" class="btnAddToCart" data-id="@item.Id">Thêm giỏ hàng</a></li>

                                            </ul>
                                        </div>
                                        <h3 class="price_text">@item.Price</h3>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="p-2 col-lg-3 col-sm-6 @item.ProductCategory.Alias">
                        <div class="card text-black">
                            <img src="@strImage"
                                 class="card-img-top" alt="Alias"  height="80px" />
                            <div class="card-body text-center">
                                <div class="text-center">
                                    <h1 class="card-title" style="margin-bottom:0px;">@item.Title</h1>
                                    <h3 style="font-family:  Quicksand, sans-serif; color: #d0021b; font-weight:600; " class="mb-1 pb-0">@ShopAcc.Common.Common.FormatNumber(item.PriceSale) VNĐ</h3>
                                    <span style="color: #4b4a4a; font-weight:300; text-decoration: line-through; " class="mb-1 pb-2">@ShopAcc.Common.Common.FormatNumber(item.Price) VNĐ</span>

                                </div>
                                <div class="text-center">
                                    <div class="" style="background-color: #eff1f2;">
                                        <h5 style="padding-bottom:0px;" class="">Thông tin tài khoản</h5>
                                    </div>

                                    <div style="font-size:15px;color:black;" class="d-flex flex-row justify-content-between text-lg-center ">
                                        <span class="mb-1 font-weight-bold">Rank <br /> @item.rank</span>
                                        <span class="mb-1 font-weight-bold">Tướng <br /> @item.tuong</span>
                                        <span class="mb-1 font-weight-bold">Skin <br /> @item.trangphuc</span>
                                        @*<span style="color: transparent;">0</span>*@
                                    </div>
                                </div>

                                <div >
                                    <a  style="color: black; border: 1px solid black; border-radius: 20px; width: 9rem; "  href="/chi-tiet/@(item.Id)" class= "btndetail text-center btn mb-3 " >
                                        Thông tin chi tiết
                                    </a>
                                    
                                    <a style="color:black; border:1px solid black; border-radius:20px; width:8.4rem; " class="text-center btn btnAddToCart" data-id="@item.Id">Thêm giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
               
            }
        </div>
    </div>

</section>
@section scripts{

    <script>
        $(document).ready(function () {
            $(".product_taital").click(function () { 
                $(".col-lg-3 col-sm-6").hide();
                $($(this).data("value")).fadeIn();
            });
        });
    </script>
}